/* ---------------------------------Registration--------------------------------- */
.registrationContainer
{
  display: flex;
  justify-content: center;
  margin-top: 24px;
}
.reg_card{
  height: 36em;
  width: 29em;
}
.Reg_Title{
  margin-top: 23px;
  justify-content: center;
  /* height: 24em;
  width: 31em; */
}
.registartionField{
  margin-top: 19px;
}
.First_Last_Name_Reg{
  display:flex;
  justify-content: space-around;

}
.registrationEmail{
  margin-left: 18px;
    margin-right: 18px;
}
.registartionPassword
{
  display:flex;
  justify-content: space-around;
}
.resgistrationButton
{
  display:flex;
  justify-content: center;
  margin-top: 248px;
  display:flex;
  justify-content: space-evenly;
}


/* ---------------------------------Login--------------------------------- */
.login_Container
{
  display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.login_Card
{
  height: 30em;
  width: 26em;
}
.login_title
{
  margin-top: 23px;
  justify-content: center;
}
.login_Field
{
  margin-top: 19px;
}
.login_Email
{
  margin-left: 10px;
  margin-right: 10px;
}
.login_Password{
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
}
.login_button
{
  display:flex;
  justify-content: center;
  margin-top: 18px; 
  font-size: 18px;
}
.login_create
{
  display: flex;
  justify-content: center;
 
}
.login_forget
{
  display: flex;
  justify-content: center;
  
}
.social_Login{
  margin-top: 13px;
  display: flex;
  justify-content: SPACE-AROUND;
}
.kep-login-facebook {
  
    width: 146px;
    
}
.googlelogin{
  width: 156px;
  background-color: #ec4a4a;
}


/* ---------------------------------Forgot--------------------------------- */
.forgot_Container
{
  display: flex;
  justify-content: center;
  margin-top: 123px; 
}
.forgot_Card
{
  height: 26em;
  width: 32em;
}
.forgot_title
{
  margin-top: 15px;
  justify-content: center;
}
.forgot_Field
{
  margin-top: 19px;
}
.forgot_Email
{
  margin-left: 10px;
  margin-right: 10px;
}
.forgot_button
{
  display:flex;
  justify-content: flex-end;
  margin-top: 24px;
  margin-inline-end: 10px; 
  font-size: 18px;
}
.forget_back{
  display: flex;
  justify-content: flex-start;
  margin-inline-start: 10px;
}


/* ---------------------------------Reset--------------------------------- */
.reset_Container
{
  display: flex;
  justify-content: center;
  margin-top: 123px; 
}
.reset_Card
{
  height: 26em;
  width: 32em;
}
.reset_title
{
  margin-top: 15px;
  justify-content: center;
}
.reset_Password
{
  margin-top: 19px;
  margin-inline-end: 10px; 
  margin-inline-start: 10px;
}
.reset_Confirm{
  margin-top: 19px;
  margin-inline-end: 10px; 
  margin-inline-start: 10px;
}
.reset_button
{
  display:flex;
  justify-content: flex-end;
  margin-top: 24px;
  margin-inline-end: 10px; 
  font-size: 18px;
}
.reset_back{
  display: flex;
  justify-content: flex-start;
  margin-inline-start: 10px;
}

/* ---------------------------------AppBar--------------------------------- */

.whole{
  display: flex;
  justify-content: space-between;
  padding: 8px;

}
.responsive{
  width: 100%;
  height: auto;
}
/* .drawr_Search{
  display: flex;
    align-items: center;
} */
.title {
  font-family: 'Product Sans',Arial,sans-serif;
    font-size: 18px;
    position: relative;
    color: #5f6368;
}
.searchIcon{
  display: flex;
  
    justify-content: space-around;
}
.main_menu_image_name{
  display: flex;
  align-items: center;
  padding: 0px 10px 0px 0px;
}
 .menu_image
{
  display: flex;
  align-items: center;
} 
.menu_image>img
{
  height:44px;
}
.search {
 
    display: flex;
    align-items: center;
    width: 50%;
    padding: 10px;
    background-color: whitesmoke;
    border-radius: 11px;
}
.searchField{
  width: 100%;
}
.ref_Acc{
  display: flex;
    align-items: center;
    margin-right: 5px;
}
.sectionDesktop{
  padding: 0px 25px 0px 0px;
}
.listView{
  padding: 0px 10px 0px 0px;
}

/* ---------------------------------Drawer--------------------------------- */
.iconName{
  padding: 0px 0px 0px 32px;
  font-family: Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
    font-size: 14px;
}
.Label
{
  color: #5f6368;
  cursor: default;
  letter-spacing: .07272727em;
  font-family: Roboto,Arial,sans-serif;
  font-size: .6875rem;
  font-weight: 500;
  line-height: 1rem;
  text-transform: uppercase;
  padding: 15px 24px 10px;
}
.DrawerIcons{
  padding-bottom: 7px;
  padding-top: 7px;
  border-radius: 30px;
}
.DrawerIcons:hover{
 background-color: khaki;
  border-collapse: collapse;

}
.mainDrawerIcon{
  
}

.img_name_email{
  display: flex;
  height: 130px;
  width: 281px;
  align-items: center;
  justify-content: SPACE-AROUND
}
.profile_Root{
  top: 16px;
}
.profile_Big_Avatar{
  height:100%;
  width:120%
}
/* .bigAvatar {
  width: 60;
  height: 60;
  
}
.imageroot{
  display: 'flex',
    '& > *': {
      margin: theme.spacing(1),
    }
} */


/* ------------------------------Service Card--------------------------------- */
/* .innerCard {
  width: 93%;
  height: 267px;
  padding: 4px;
  margin-top: -34px;
  margin-left: -17px;
  font-family: "Roboto", "Helvetica Neue", "sans-serif";
background-color: darkgreen;
}

.outerCard {
  width: 200px;
  height: 270px;
  font-family: monospace;
  margin: 30px;
  background-color: darkgoldenrod;
}
.service_header{
  margin-left: 2%;
    margin-top: 10px;
    font-size: 23px;

} */

.firstcard
{
  display: flex;
  justify-content: space-evenly;
  margin-left: 81px;
  margin-top: 120px    
}
.back{
  height: 19pc;
  width: 18pc;
  background-color: gray;
  position: relative;
}
.front{
  height: 19pc;
    width: 18pc;
    position: absolute;
}
.secondcard{
    display: flex;
    justify-content: space-evenly;   
    margin-top: -344px
}
.firstcard2
{
  display: flex;
  justify-content: space-evenly;
  margin-left: 81px;
  margin-top: 120px    
}
.back1{
  height: 19pc;
  width: 18pc;
  background-color: gray;
  /* position: relative; */

}
.front1{
  height: 19pc;
    width: 18pc;
    background-color: antiquewhite;
    /* position: absolute; */
}
.secondcard2{
    display: flex;
    justify-content: space-evenly;   
    margin-top: -344px
}
.main_Card_Div{
  display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.Card_Content{
  margin-right: 21%;
    padding: 14px 0px 0px 19px;
}
.card_Details{
  margin-top: 10%;
}

.front:hover {
  transform: scale(1.1);
  box-shadow: 20px 20px orange;
}

/* .front:active {
  transform: scale(1.3);
  box-shadow: 20px 20px orange;
} */
.front1:hover {
  transform: scale(1.3);
  box-shadow: 20px 20px orange;
}

.front1:active {
  transform: scale(1.3);
  box-shadow: 20px 20px orange;
}
.CardComponent{
  display: flex;
  justify-content: space-evenly
}
.CardComponent1{
  height: 10px;
  transform: scale(0.5);
  pointer-events: none;
  display: flex;
 justify-content: space-around;
}

/* ---------------------------------CreateNotes--------------------------------- */
.CreatecardNoteswithoutOpen{
  border-radius: 9px;
  width: 37em;
}
.CreatemainNotesOpen{
  display: flex;
  justify-content: center;
  margin-top: 15px;
  margin-bottom: 15px;
}

.createNote_Icons{
  display: flex;
  justify-content: space-around;
  width: 300px
}
.mainIcon{
  
  display: flex;
    justify-content: space-between;
    padding: 12px
}
.imageIcon{
  padding: 5px;
}
.editOutlinedIcon{
  padding: 5px;
}
.checkboxIcon{
  padding: 5px;
}
.desciptionNotes{
  padding: 5px;
}
.wholeIconwithoutOpen{
  display: flex;
}
.wholeIconOpen{
  display: flex;
  justify-content: space-around;
}
.createNotesOpen{
 
  width: 41%;
  min-width: 500px;

}
.CreateNotecard{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.input_field{
  
}
.button_icon{

}
.noteIcon{
  display: flex;
  justify-content: space-between
}
.icon{
  color: #202124;
  opacity: 0.71;
}
.input_field{
  
}
.pin_Title{
  display: flex;
}

.title_field{
  width: 100%
}
.description_Field{
  width: 100%;
  margin-bottom: 5px;
}
.wholedivCreateNote{
  width: 35em;
   
    padding: 10px
}
/* ---------------------------------GetAllNotes--------------------------------- */

.get_cards1{
  height: auto;
    width: 220px;
    padding: 10px;
    min-height: 100px;
    margin: 11px;
    display: block;
}
.getNoteAllcard{
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  width: 60em;
}
.transition_left{
  
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    /* width: 60em; */
    margin-left: 10%;
}
.transition_right{
  
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  /* width: 60em; */
  /* margin-left: 15%; */
  
}
.descriptionDetails{
  margin-bottom: 9px;
}
.WholeGetIcon{
  display: flex;
    justify-content: SPACE-AROUND;
}
.get_Whole_Card{
  height: auto
}









.GetNotComp_Appbar{
 
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}


/* ---------------------------------SetReminder--------------------------------- */

.setreminder_Value{
  display:flex;
  margin-right: 23px
}
.Remindertitle{
  margin-left:15px
}

/* ----------------------------------drawer-Shift--------------------------------- */
/* #transition-left{
  margin-left: 5%;
}
#transition-right{
  margin-left: 5%;
} */

.color_div{
  display: flex;
    width: 200px;
    height: 130px;
    flex-wrap: wrap
}