<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="DBCS"
         connectionString="Server=(localdb)\MSSQLLocaldb;Database=EmployeeWCF;Integrated Security=SSPI;"
         providerName="System.data.Sqlclient"/>
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <system.serviceModel>
    <services>
      <service name="EmployeeManagement.Service1" behaviorConfiguration="mexBehaviour">
        <endpoint address="EmployeeManagement" binding="basicHttpBinding" contract="EmployeeManagement.IService1"></endpoint>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:50925/"/>
          </baseAddresses>
        </host>
      </service> 
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="mexBehaviour">
          <!-- To avoid disclosing metadata information, set the value below to false before deployment -->
          <serviceMetadata httpGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
 <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>

</configuration>
